body {
    background: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.link--cta {
    color: #7fffd4;
    font-size: 16px;
}